@font-face {
  font-family: "iconfont"; /* Project id 5054034 */
  src: url('//at.alicdn.com/t/c/font_5054034_ea8394mbm7f.woff2?t=1761878303012') format('woff2'),
       url('//at.alicdn.com/t/c/font_5054034_ea8394mbm7f.woff?t=1761878303012') format('woff'),
       url('//at.alicdn.com/t/c/font_5054034_ea8394mbm7f.ttf?t=1761878303012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuxuankuang:before {
  content: "\e66a";
}

.icon-biaodankongjianfuxuankong:before {
  content: "\e8c7";
}
