.text-center {
  text-align: center;
}

.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.text-grey1 {
  color: #888;
}
.text-grey2 {
  color: #aaa;
}

.list-cell-arrow::before {
  content: " ";
  height: 10px;
  width: 10px;
  border-width: 2px 2px 0 0;
  border-color: #c0c0c0;
  border-style: solid;
  -webkit-transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
  transform: matrix(0.5, 0.5, -0.5, 0.5, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30rpx;
}

.list-cell {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  padding: 26rpx 30rpx;
}

.list-cell:first-child {
  border-radius: 8rpx 8rpx 0 0;
}

.list-cell:last-child {
  border-radius: 0 0 8rpx 8rpx;
}

.list-cell::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #eaeef1;
  -webkit-transform: scaleY(0.5) translateZ(0);
  transform: scaleY(0.5) translateZ(0);
  transform-origin: 0 100%;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.menu-list {
  margin: 15px 15px;

  .menu-item-box {
    width: 100%;
    display: flex;
    align-items: center;

    .menu-icon {
      color: #007aff;
      font-size: 16px;
      margin-right: 5px;
    }

    .text-right {
      margin-left: auto;
      margin-right: 34rpx;
      color: #999;
    }
  }
}

/* #ifndef APP-NVUE */
page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  min-height: 100%;
  height: auto;
}

view {
  font-size: 28rpx;
  line-height: inherit;
}

.text {
  text-align: center;
  font-size: 26rpx;
}

.monitor-top-warnning {
  background: rgb(239, 248, 255);
  margin: 20rpx;
  padding: 0 50rpx;
  border: 1px solid #e43d33;
  border-radius: 25rpx;
  .grid-item-box {
    width: 90%;
    height: 90%;
    flex: 1;
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    image {
      width: 60%;
      height: 60%;
    }
    .text {
      font-size: 32rpx;
    }
  }
}

.bg_color {
  background: rgb(239, 248, 255);
}

.content_title {
  position: relative;
  height: 80rpx;
  line-height: 80rpx;
  padding-left: 40rpx;
  margin: 0 20rpx;
}
.content_title:before {
  position: absolute;
  content: "";
  display: block;
  width: 16rpx;
  height: 36rpx;
  background-color: #5ac2ee;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.work-container {
  // margin-bottom: 80rpx;
}
/* #endif */

body.pages-index uni-page-body {
  background-color: #f5f5f5 !important;
}
.flex-row {
  display: flex;
}
.flex-item-center {
  display: flex;
  align-items: center;
  font-size: 32rpx;
}
.flex-row-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  margin: 0;
}

.task-container {
  .u-tabs__wrapper__nav {
    width: 100%;
    justify-content: space-between;
  }
  .u-tabs__wrapper__nav__item {
    flex: 1;
  }
}
.task-container .u-checkbox-group {
      // padding: 24rpx 28rpx;
      // margin: 20rpx auto;
      // border-top: 2rpx solid rgba(0, 0, 0, 0.26);
	  display: flex;
	  justify-content: space-between;
	  .u-checkbox{
		  margin-bottom: 0 !important;
	  }
    }

.question-page .main {
  .u-form-item__body {
    padding: 30rpx;
  }
  .u-form-item__body__left__content__label {
    font-size: 30rpx;
    font-weight: bold;
    margin-bottom: 10rpx;
  }
  .u-checkbox {
    align-items: start;
    uni-text {
      max-width: 600rpx;
    }
  }
}

.month_containter {
  .u-checkbox-label--left {
    margin-bottom: 10rpx;
  }
  .u-radio {
    margin-right: 10rpx; 
  }
  .model_box .u-input {
    margin-bottom: 10rpx; 
  }
}

.follow-up{
  .task-checkbox {
      padding: 24rpx 28rpx;
      margin: 20rpx auto;
      border-top: 2rpx solid rgba(0, 0, 0, 0.26);
    }
}
 